
{{#each result}}
<div class="comment">
<h2>{{this.message}}</h2>
<h5>{{this.username}}</h5>
<a href='/post/{{this.comment_id}}/delete-comment'>Delete</a>
</div>
{{/each}}


<div class="comment">
<form action='/post/add-comment' method="post">
  <label for='username'>Username</label>
  <input type="text" name='username'>
  <label for='message'>Message</label>
  <input type="text" name='message'>
  <input type='hidden' name='post_id' value='{{result1}}'>
  <button type="submit">Add Comment</button>
</form>
</div>
